@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    background: white;
}

.container{
    width: 100%;
    background: white;
}

.header{
    width: 100%;
}

.header nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.6s;
    padding: 10px 50px;
    z-index: 2;
}

.header nav img{
    width: 80px;
    transition: 0.6s;
}

.header nav ul{
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.header nav ul li a{
    font-weight: 500;
    color: #1761a0;
    text-decoration: none;
}

.header nav ul li a:hover{
    color: #3a3a3a;
}

.banner{
    width: 100%;
    height: 100vh;    
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner img{
    width: 600px;
}

.header nav.sticky{
    padding: 0px 50px;
    background: #fff;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 30px;
    height: 25px;
    left: -1px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: #1761a0;
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: #3a3a3a;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: #3a3a3a;
    transform : rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform : scale(0);
}

.menu-toggle input:checked{
    left: 0;
}

.title-text{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.title-text-h1{
    font-weight: 700;
    font-size: 50px;
    color: #1761a0;
    font-family: 'Noto Sans', sans-serif;
}

.title-text-h3{
    line-height: 37px;
    margin-top: 5px;
    letter-spacing: 1px;
    font-size: 20px;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
}

/*---- About Section ----- */
.about-background{
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.about-section{
    margin-top: 2rem;
    max-width: 80%;
    margin-left: 10%;
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.about-text{
    width: 100%;
    text-align: justify;
    color: #3a3a3a;
    font-size: calc(9px + 1vw);
}

.antra-shoe-store{
    color: #1761a0;
    font-weight: bold;
}

.about-text-p1{
    font-family: 'Noto Sans', sans-serif;
}

.about-title{
    margin-top:2.5rem;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #1761a0;
}

.about-image img{
    width: 100%;
}




.new-shoes-background{
    margin-top: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
}

.new-shoes-title{
    margin-top: 4rem;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #1761a0;
}

.new-shoes-section{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 300px;
    height: 500px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: center;
    margin: 20px 10px;
}

.new-shoes-image-area{
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.box:hover .new-shoes-image-area img{
    transform: scale(1.2);
}

.new-shoes-image-area img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

.new-shoes-text{
    padding: 0 10px;
    height: 50%;
    width: 100%;
}

.new-shoes-text-title{
    margin-top: 1rem;
    color: #1761a0;
}

.new-shoes-text-brand{
    color: #1761a0;
    font-size: 16px;
}

.new-shoes-text-details{
    margin-top: 0.5rem;
    font-size: 13.5px;
}

.collections-background{
    margin-top: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.collections-title{
    margin-top: 4rem;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #1761a0;
}

.men-shoes-section{
    margin-top: 2rem;
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)),url(../img/men\ shoes.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.woman-shoes-section{
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)),url(../img/women\ shoes.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.collections-background h2{
    margin-top: 2rem;
    color: #1761a0;
    font-size: 30px;
}

.collections-box-section{
    padding: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.collections-box-section a{
    text-decoration: none;
}

.collections-box{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.5s ease;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
}

.c1{
    background: url(../img/men\ dress\ shoes.png);
    background-position: center;
    background-size: cover;
}

.c1:hover{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/men\ dress\ shoes.png);
    background-position: center;
    background-size: cover;
}

.collections-box:hover h3{
    color: #fff;
}

.c2{
    background: url(../img/men\ sport\ shoes.jpg);
    background-position: center;
    background-size: cover;
}

.c2:hover{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/men\ sport\ shoes.jpg);
    background-position: center;
    background-size: cover;
}

.c3{
    background: url(../img/men\ casual\ shoes.jpg);
    background-position: center;
    background-size: cover;
}

.c3:hover{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/men\ casual\ shoes.jpg);
    background-position: center;
    background-size: cover;
}

.c4{
    background: url(../img/men\ slip\ on.png);
    background-position: center;
    background-size: cover;
}

.c4:hover{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/men\ slip\ on.png);
    background-position: center;
    background-size: cover;
}

.c5{
    background: url(../img/women\ dress\ shoes.jpg);
    background-position: center;
    background-size: cover;
}

.c5:hover{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/women\ dress\ shoes.jpg);
    background-position: center;
    background-size: cover;
}

.c6{
    background: url(../img/women\ sport\ shoes.jpg);
    background-position: center;
    background-size: cover;
}

.c6:hover{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/women\ sport\ shoes.jpg);
    background-position: center;
    background-size: cover;
}

.c7{
    background: url(../img/women\ high\ heels.webp);
    background-position: center;
    background-size: cover;
}

.c7:hover{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/women\ high\ heels.webp);
    background-position: center;
    background-size: cover;
}

.c8{
    background: url(../img/women\ boots.jpg);
    background-position: center;
    background-size: cover;
}

.c8:hover{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/women\ boots.jpg);
    background-position: center;
    background-size: cover;
}

.collections-box h3{
    padding-bottom: 10px;
    color: #3a3a3a;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
}


@media (max-width:600px) {
    body {
        background-color:red;
    }
}

@media (min-width:600px) {
    body { background-color:aliceblue;}
}